* {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.board__container {
  width: 1000px;
  margin: 100px auto;
}

.board__title {
  margin-bottom: 30px;
}

.board__title strong {
  font-size: 3rem;
}

.board__title p {
  margin-top: 5px;
  font-size: 1rem;
}

.board__btn--container {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board__btn--container button {
  display: inline-block;
  min-width: 80px;
  margin-left: 10px;
  padding: 10px;
  border: 1px solid #000;
  border-radius: 2px;
  font-size: 1rem;
  cursor: pointer;
}

.board__btn--container button:first-child {
  margin-left: 0;
}

.board__btn--on {
  background: #000;
  color: #fff;
}

.board__list {
  width: 100%;
  border-top: 2px solid #000;
}

.board__list > div {
  border-bottom: 1px solid #ddd;
  font-size: 0;
}

.board__list > div.bd__top {
  border-bottom: 1px solid #999;
  font-weight: 600;
}

.board__list > div:last-child {
  border-bottom: 1px solid #000;
}

.board__list > div > div {
  display: inline-block;
  padding: 15px 0;
  text-align: center;
  font-size: 1rem;
}

.board__list .bd__num {
  width: 10%;
}

.board__list .bd__title {
  width: 60%;
  text-align: left;
}

.board__list .bd__top .bd__title {
  text-align: center;
}

.board__list .bd__writer {
  width: 10%;
}

.board__list .bd__date {
  width: 10%;
}

.board__list .bd__count {
  width: 10%;
}

.board__page {
  margin-top: 30px;
  text-align: center;
  font-size: 0;
}

.board__page a {
  display: inline-block;
  width: 32px;
  height: 38px;
  box-sizing: border-box;
  vertical-align: middle;
  border: 1px solid #ddd;
  border-left: 0;
  line-height: 100%;
}

.board__page a.bt {
  padding-top: 4px;
  font-size: 1.4rem;
  letter-spacing: -1px;
}

.board__page a.num {
  padding-top: 9px;
  font-size: 1rem;
}

.board__page a.num.on {
  border-color: #000;
  background: #000;
  color: #fff;
}

.board__page a:first-child {
  border-left: 1px solid #ddd;
}
